@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>

            <!-- Single button -->
<div class="text-right" style="padding: 10px;">
    <div class="btn-group">
        <!-- Toggle Buttons -->
        <button type="button" class="btn btn-primary btn-lg"
                data-toggle="collapse" data-target="#file-uploading">
            Upload your files
        </button>
        <button type="button" class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown">
            Share &nbsp; <span class="glyphicon glyphicon-share"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li id="getThisLink"><a href="#">Share this link with friends</a></li>
            <li id="getEmbededHtml" class="open-modal"><a href="#">Get embedded HTML code</a></li>
        </ul>
    </div>
</div>

<div id="file-uploading" class="collapse in">
    @*<%--<input type="file" id="upload-files" name="file">--%>*@
    <div id="box">Drag & Drop files into this box.</div>

    <div class="text-right">
        <button id="upload" type="button" class="btn btn-default btn-success">Upload</button>

    </div>

    <div id="alert_placeholder" style="padding: 10px">
    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>